.chatSideDrawerBox {
  display: flex;
  flex-direction: column;
  width: 500px;
  bottom: 100%;
  padding: 0px 20px;
}

.chatAvatar {
  width: 70px;
  height: 85px;
  border-radius: 80%;
  margin: 3.5px 10px;
}
